.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
 
    margin: auto;
    
}
.grid{
    width: 320px;
    height: 610px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border:10px solid dodgerblue;
    border-top: none;
    border-radius: 5px;
}
.cube{
    height: 30px;
    width: 30px;
    background-color: rgb(245, 245, 254);
    border-radius: 2px;
    box-shadow: inset 0px 0px 2px 2px rgba(123, 100, 255, 0.1);
    
}
.fill {
    background: dodgerblue;
    box-shadow: inset 0px 0px 2px 2px rgba(41, 6, 234, 0.1);
}

.freeze {
    background: dodgerblue;
    box-shadow: inset 0px 0px 2px 2px rgba(41, 6, 234, 0.1);
   
}

    